In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [22]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
total_schools =len(school_data_complete["school_name"].unique())
total_students = school_data_complete["Student ID"].count()

total_budget = school_data_complete["budget"].sum()
average_math = school_data_complete["math_score"].mean()
average_reading = school_data_complete["reading_score"].mean()

In [6]:
passing_math_percent = (school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"])/total_students*100
passing_reading_percent = (school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"])/total_students*100
passing_mathreading_percent = (school_data_complete[(school_data_complete["math_score"] >= 70)& (school_data_complete["reading_score"] >= 70)].count()["student_name"])/total_students*100
passing_reading_percent
passing_mathreading_percent

65.17232575950983

In [7]:
district_summary = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": total_budget, "Average Math Score": [average_math], "Average Reading Score": [average_reading], "% Passing Math": [passing_math_percent], "% Passing Reading": [passing_reading_percent], "% Overall Passing": [passing_mathreading_percent]})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.98%,85.81%,65.17%

In [8]:
school_type=school_data.set_index(["school_name"])["type"]
school_student_count = school_data_complete["school_name"].value_counts()
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = school_budget/school_student_count
average_math_school = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_reading_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [9]:
school_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
school_passing_reading= school_data_complete[(school_data_complete["reading_score"]>=70)]
school_passing_both = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]

school_passing_math_percent = (school_passing_math.groupby(["school_name"]).count()["student_name"]/school_student_count)*100
school_passing_reading_percent = (school_passing_reading.groupby(["school_name"]).count()["student_name"]/school_student_count)*100
school_passing_both_percent = (school_passing_both.groupby(["school_name"]).count()["student_name"]/school_student_count)*100

In [10]:
school_summary = pd.DataFrame({"School Type": school_type, "Total Students": school_student_count, "Total School Budget": school_budget, "Per Student Budget": per_student_budget, "Average Math Score": average_math_school, "Average Reading Score": average_reading_school, "% Passing Math": school_passing_math_percent, "% Passing Reading": school_passing_reading_percent, "% Overall Passing": school_passing_both_percent})
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:,.2f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:,.2f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:,.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:,.2f}%".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [11]:
top_performing_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [12]:
bottom_performing_schools = school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [13]:
ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"]

ninth_grade_math = ninth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

math_scores_by_grade = pd.DataFrame({"9th Grade": ninth_grade_math, "10th": tenth_grade_math, "11th": eleventh_grade_math, "12th": twelfth_grade_math})
math_scores_by_grade

                       9th Grade       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [14]:
ninth_grade_reading = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

reading_scores_by_grade = pd.DataFrame({"9th Grade": ninth_grade_reading, "10th": tenth_grade_reading, "11th": eleventh_grade_reading, "12th": twelfth_grade_reading})
reading_scores_by_grade

                       9th Grade       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [15]:
bins=[0,585,630,645,680]
group_names= ["<$585","$585-630","$630-645","$645-680"]
school_spendingdf = school_summary

school_spendingdf["Spending Ranges(Per Student)"] = pd.cut(per_student_budget, bins, labels=group_names)
school_spendingdf["Average Math Score"] = school_spendingdf["Average Math Score"].astype("float")
school_spendingdf["Average Reading Score"] = school_spendingdf["Average Reading Score"].astype("float")
school_spendingdf["% Passing Math"] = school_spendingdf["% Passing Math"].str.replace("%","").astype("float")
school_spendingdf["% Passing Reading"] = school_spendingdf["% Passing Reading"].str.replace("%","").astype("float")
school_spendingdf["% Overall Passing"] = school_spendingdf["% Overall Passing"].str.replace("%","").astype("float")

In [16]:
spending_math_average = school_spendingdf.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]
spending_reading_average = school_spendingdf.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]
spending_percentmath_average = school_spendingdf.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]
spending_percentreading_average = school_spendingdf.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]
spending_percentoverall_average = school_spendingdf.groupby(["Spending Ranges(Per Student)"]).mean()["% Overall Passing"]

In [18]:
scores_by_school_spending = pd.DataFrame({"Average Math Score": spending_math_average, "Average Reading Score": spending_reading_average, "% Passing Math": spending_percentmath_average, "% Passing Reading": spending_percentreading_average, "% Overall Passing": spending_percentoverall_average})
scores_by_school_spending["Average Math Score"] = scores_by_school_spending["Average Math Score"].map("{:,.2f}".format)
scores_by_school_spending["Average Reading Score"] = scores_by_school_spending["Average Reading Score"].map("{:,.2f}".format)
scores_by_school_spending["% Passing Math"] = scores_by_school_spending["% Passing Math"].map("{:,.2f}%".format)
scores_by_school_spending["% Passing Reading"] = scores_by_school_spending["% Passing Reading"].map("{:,.2f}%".format)
scores_by_school_spending["% Overall Passing"] = scores_by_school_spending["% Overall Passing"].map("{:,.2f}%".format)

scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,83.45,83.93,93.46%,96.61%,90.37%
$585-630,81.90,83.16,87.13%,92.72%,81.42%
$630-645,78.52,81.62,73.48%,84.39%,62.86%
$645-680,77.00,81.03,66.16%,81.13%,53.53%

In [21]:
size_bins=[0,1000,2000,5000]
size_group_names= ["Small (<1000)","Medium (1000-2000)","Large(2000-5000)"]

school_sizedf = school_spendingdf